[DEFAULT]
; online or offline
state: online					

; The base database directory

pgdata: /var/lib/postgresql/8.3/main

; where to remotely copy archives
r_archivedir: /var/lib/postgresql/archive

; where to locally copy archives
l_archivedir: /var/lib/postgresql/archive

; where is rsync				
rsync_bin: /usr/bin/rsync			

; option 2 or 3, if running RHEL5 or similar it is likely 2
; if you are running something that ships remotely modern software
; it will be 3

rsync_version = 2

; IP of slave					
slaves: 192.168.1.201,192.168.1.202

; the user that will be using scp				
user: postgres					

; if scp can't connect in 10 seconds error
timeout: 10

; command to process in ok					
notify_ok: echo OK

; command to process in warning
notify_warning:  echo WARNING

; command to process in critical
notify_critical: echo CRITICAL

; if you want to debug on/off only		 	
debug: on

; if you want ssh debug (warning noisy)
ssh_debug: off