[DEFAULT]

; online or offline
state: online

; The base database directory
pgdata: /var/lib/postgresql/9.2/main

; where to remotely copy archives
r_archivedir: /var/lib/postgresql/archive

; where to locally copy archives
l_archivedir: /var/lib/postgresql/archive

; where to look for executables
includepath: /usr/bin:/bin:/usr/local/bin

; extra rsync flags
rsync_flags: -z

; option 2 or 3, if running RHEL5 or similar it is likely 2
; if you are running something that ships remotely modern software
; it will be 3
rsync_version = 3

; IP of slave
slaves: 192.168.1.201,192.168.1.202

; the user for the ssh connection to a standby
user: postgres

; if rsync can't connect in 10 seconds error
ssh_timeout: 10

; Unix user name that is allowed to run the cmd_queue process
queue_user: postgres

; number of seconds to sleep between syncs to slaves
queue_wait: 5

; maximum allowed number of parallel WAL-shipping workers
max_queue_workers: 1

; command to process in ok
notify_ok: echo OK

; command to process in warning
notify_warning:  echo WARNING

; command to process in critical
notify_critical: echo CRITICAL

; if you want to debug on/off only
debug: off

; if you want ssh debug (warning noisy)
ssh_debug: off

